{% extends 'base.html.twig' %}
{% block body %}
    <h1>Administration</h1>

    <ul>
        <li>
            <a href="{{ path('film_index') }}">Films</a>
        </li>
        <li>
            <a href="{{ path('genre_index') }}">Genres</a>
        </li>
    </ul>
{% endblock %}
