{% extends '::base.html.twig' %}
{% block title %}Authentification requise{% endblock %}

{% block body %}
    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('_security_login_check') }}" method="POST">

        <input type="hidden" name="_target_path" value="{{ url('videotheque_admin') }}" />

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
        </div>

        <input type="submit" name="login" value="submit" />

    </form>
{% endblock %}