{% extends '::base.html.twig' %}
{% block title %}Administration{% endblock %}

{% block body %} <div>Sélectionnez une section dans le menu de gauche :)</div>{% endblock %}

{% use 'VideothequeBundle:Admin:sidebar_admin.html.twig' %}