{% block sidebar %}
<ul id="menu-genres" class="nav nav-list">
    <li class="nav-header">Administrer</li>
    <li {% if section|default('') == "genre" %}class="selected"{% endif %}><a href="{{ path('genre') }}">Genres</a></li>
    <li {% if section|default('') == "film" %}class="selected"{% endif %}><a href="{{ path('film') }}">Films</a></li>
</ul>    
{% endblock %}